<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/sb_admin_2 :: header('Trading system - TRADER')"></head>

<body>

	<div id="wrapper">

		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div th:replace="fragments/sb_admin_2 :: navigation-brand"></div>
			<div th:replace="fragments/sb_admin_2 :: navigation-top"></div>
			<div th:replace="fragments/sb_admin_2 :: navigation-sidebar"></div>
		</nav>

		<!-- Page Content -->
		<div id="page-wrapper">

			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header" th:text="#{trader.page.title}">Tables</h3>
				</div>
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
<!-- 						<div class="panel-heading"> -->
<!-- 							<h4 th:text="#{home.title}">DataTables Advanced Tables</h4> -->
<!-- 						</div> -->
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="table-responsive">
				                <p>
				                    <a href="strategy/">Strategy list</a><br />
				                </p>
							</div>
							<!-- /.table-responsive -->
							<!-- div class="well">
								<h4>DataTables Usage Information</h4>
								<p>
									DataTables is a very flexible, advanced tables plugin for
									jQuery. In SB Admin, we are using a specialized version of
									DataTables built for Bootstrap 3. We have also customized the
									table headings to use Font Awesome icons in place of images.
									For complete documentation on DataTables, visit their website
									at <a href="https://datatables.net/" target="_blank">https://datatables.net/</a>.
								</p>
								<a href="https://datatables.net/" target="_blank"
									class="btn btn-default btn-lg btn-block">View DataTables
									Documentation</a>
							</div-->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<div th:include="fragments/sb_admin_2 :: scripts"></div>

</body>

</html>

