<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/sb_admin_2 :: header('Trading system - User delete')"></head>

<body>

	<div id="wrapper">

		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div th:replace="fragments/sb_admin_2 :: navigation-brand"></div>
			<div th:replace="fragments/sb_admin_2 :: navigation-top"></div>
			<div th:replace="fragments/sb_admin_2 :: navigation-sidebar"></div>
		</nav>

		<!-- Page Content -->
		<div id="page-wrapper">

			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header" th:text="#{user.delete.page.title}">Tables</h3>
				</div>
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
<!-- 						<div class="panel-heading"> -->
<!-- 							<h4 th:text="#{user.list.table.title}">DataTables Advanced Tables</h4> -->
<!-- 						</div> -->
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="alert alert-danger alert-dismissable" th:if="${error != null}" id="alertError">
			                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                    <h4 th:text="${error}">Error!</h4>
			                </div>
			                <div class="alert alert-success alert-dismissable" th:if="${message != null}" id="alertSuccess">
			                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			                    <h4 th:text="${message}">Success!</h4>
			                </div>
							<div class="row">
				                <div class="col-sm-1"></div>
				                <div class="col-sm-6">
									<form class="form-horizontal" action="#" method="post">
				                        <div class="form-group">
				                            <label class="col-sm-5 control-label" th:text="#{user.list.id.label}">User Id</label>
				                            <div class="col-sm-7">
				                                <input type="text" class="form-control" th:value="${user.id}" disabled="disabled" ></input>
				                            </div>
				                        </div>
				                        <div class="form-group">
				                            <label class="col-sm-5 control-label" th:text="#{user.list.user.label}">Username</label>
				                            <div class="col-sm-7">
				                                <input type="text" class="form-control" th:value="${user.username}" disabled="disabled" ></input>
				                            </div>
				                        </div>
				                        <div class="form-group">
				                            <label class="col-sm-5 control-label" th:text="#{user.list.pass.label}">User Password</label>
				                            <div class="col-sm-7">
				                                <input type="text" class="form-control" th:value="${user.password}" disabled="disabled" ></input>
				                            </div>
				                        </div>
				                        <div class="form-group">
				                            <label class="col-sm-5 control-label" th:text="#{user.list.enabled.label}">Enabled</label>
				                            <div class="col-sm-7">
				                                <input type="checkbox" th:value="${user.enabled}" th:field="${user.enabled}" disabled="disabled" ></input>
				                            </div>
				                        </div>
				                         <div class="form-group">
				                            <label class="col-sm-5 control-label" th:text="#{user.list.role.label}">Role</label>
				                            <div class="col-sm-7">
				                                <input type="text" class="form-control" th:value="(${user.role == null} ? null : ${user.role.rolename})" disabled="disabled" ></input>
				                            </div>
				                        </div>
				                        
										<div class="form-group">
											<label class="col-sm-5 control-label"></label>
											<div class="col-sm-7" >
												<a href="#" th:href="@{/user/delete(id=${user.id},phase=#{button.action.delete},page=${page} )}">
								            	<button type="button" class="btn btn-primary" th:text="#{button.label.delete}">Delete</button></a>
								            	
												<a href="#" th:href="@{/user/delete(id=${user.id},phase=#{button.action.cancel},page=${page} )}">
								            	<button type="button" class="btn btn-default active" th:text="#{button.label.cancel}">Cancel</button></a>
								            </div>
										</div>
									</form>
							    </div>
				                <div class="col-sm-5"></div>
							</div>
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<div th:include="fragments/sb_admin_2 :: scripts"></div>

</body>

</html>

